* {
    margin: 0px;
}

:root {
    --paleBlue-color: #e6f7f2;
    --darkBlueGreen-color: #2d3e40;
    --palePistaccio-color: #C0CA7F;
    --softOrange-color: #EB8D25;
    --seaBlue-color: #6EAEAE;
    --darkSeaBlue-color: #5B9090;
    --darkSeaBlueShadow-color: #5b909060;
    --smokeWhite-color: #e6f7f280;
    --transparent-color: rgba(0, 0, 0, 0);
}

.boldTitle {
    font-style: italic;
}

body {
    background-color: var(--paleBlue-color);
    font-family: 'Roboto Slab';
    background-size: cover;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    row-gap: 30px;
}

nav li, nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    
    width: 135px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid var(--darkSeaBlue-color)
}

nav li a {
    width: 100%;
    height: 100%;
    font-weight: 400;
    color: var(--darkSeaBlue-color)
}

nav li:hover {
    background-color: var(--softOrange-color);
    border: 1px solid var(--softOrange-color);
    font-family: 'Roboto';
    font-style: italic;
    font-size: 1.05rem;
}

nav li a:hover {
    color: var(--paleBlue-color);
}

@media (min-width: 1280px) {


/*////////////////DASHBROAD///////////*/

.boxContainer {

    margin-right: 50px;
    width: 850px;
    height: 620px;
    display: flex;
    flex-grow: 2;
    column-gap: 20px;
}

.weatherPasswordClockBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
    
}

.passwordClockBox {
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    width: 100%;

}

.passwordBox,
.clockBox {
    width: 100%;
}

.linksBox {
    width: 40%;
}

.weatherBox,
.passwordBox,
.clockBox,
.linksBox {
    background-color: var(--smokeWhite-color);
    border-radius: 20px;
}

/*////////////////WEATHER////////////////*/
/*////////////////WEATHER////////////////*/
/*////////////////WEATHER////////////////*/
/*////////////////WEATHER////////////////*/



.weatherBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
}
.weatherGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    position: relative;
    bottom: 50px;
    font-size: 1.5rem;
    color: var(--darkSeaBlue-color)
}

.weatherGeneral img {
    width: 150px;
}

.weatherDetails {
    width: 100%;
    padding: 50px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#weatherLocation {
    font-size: 1.5rem;
    color: var(--darkBlueGreen-color)
}

#wheatherTemperature {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
}

#weatherTempNumb {
    font-size: 2rem;
    color: var(--softOrange-color)
    
}

#weatherTempRealNumb {
    font-size: 1.5rem;
    padding-left: 10px;
    color: var(--darkSeaBlue-color);
    
}


#wheatherTemperature p {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
    color: var(--darkSeaBlue-color)
}


#weatherDetailInfo {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

#windInfo,
#cloudInfo,
#humUVInfo {
    font-size: 1rem;
    padding-left: 10px;
    font-style: italic;
    color: var(--darkSeaBlue-color);
}

.weatherForecast {
    display: flex;
    text-align: center;    
}

.weatherForecast h3 {
    color: var(--softOrange-color)
}

.weatherForecast h4 {
    color: var(--seaBlue-color)
}


/*////////////////PASSWORD////////////////*/
/*////////////////PASSWORD////////////////*/
/*////////////////PASSWORD////////////////*/
/*////////////////PASSWORD////////////////*/

.passwordBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    row-gap: 10px;
    
}

.showPassword {
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 0.8rem;
    color: var(--softOrange-color)
}

.number {
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-size: 1rem;
    color: var(--palePistaccio-color);
    height: 30px;
}

.crear,
.copiar {
    font-family: 'Roboto Slab';
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 30;
    background-color: var(--transparent-color);
    color: var(--darkSeaBlue-color)
}

.crear {
    border: 1.5px solid var(--smokeWhite-color)
}
.copiar {
    border: 1.5px solid var(--smokeWhite-color)
}

.crear:hover {
    background-color: var(--softOrange-color);
    border: none;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.copiar:hover {
    background-color: var(--palePistaccio-color);
    border: none;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.crear:active {
    background-color: var(--smokeWhite-color);
    color: var(--softOrange-color);
    border: 1px solid var(--softOrange-color);
}

/*////////////////CLOCK////////////////*/
/*////////////////CLOCK////////////////*/
/*////////////////CLOCK////////////////*/
/*////////////////CLOCK////////////////*/

.clockBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    row-gap: 10px;
}

.fecha, .frase {
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
    color: var(--darkSeaBlue-color);

}

.clock {
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--softOrange-color);
}

.frase {
    font-weight: 500;
}

/*////////////////LINKS////////////////*/
/*////////////////LINKS////////////////*/
/*////////////////LINKS////////////////*/
/*////////////////LINKS////////////////*/

.linksList {
    padding-top: 30px;
    
}

.elementosLista {
    height: 65%;
    
}

.linksInput {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
    padding-left: 15px;
}

.titleText,
.urlText,
.guardar,
.delete {
    height: 30px;
    border: none;
    border-radius:10px;
    width: 95%;
}

.titleText,
.urlText{

    font-family: 'Roboto Slab';
    padding-left: 10px;
    font-style: italic;
    font-weight: 200;
}

.linksInputButtons {
    display: flex;
    width: 95%;
    column-gap: 10px;
    
}

.guardar,
.delete {
    font-family: 'Roboto Slab';
    border: 1.5px solid var(--smokeWhite-color);
    background-color: var(--transparent-color);
}

.guardar:hover,
.delete:hover {
    background-color: var(--softOrange-color);
    border: none;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.delete:hover {
    background-color: var(--palePistaccio-color);
}




    
    }





