* {
    margin: 0px;
}

:root {
    --paleBlue-color: #e6f7f2;
    --darkBlueGreen-color: #2d3e40;
    --palePistaccio-color: #C0CA7F;
    --softOrange-color: #EB8D25;
    --seaBlue-color: #6EAEAE;
    --darkSeaBlue-color: #5B9090;
    --darkSeaBlueShadow-color: #5b909060;
}

.boldTitle {
    font-style: italic;
}

body {
    background-color: var(--paleBlue-color);
    font-family: 'Roboto';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media (min-width: 1280px) {

main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
nav {
    width: 250px;
    display: flex;
    border: 1px solid red;
}

/*////////////////DASHBROAD///////////*/

.boxContainer {
    border: 1px solid red;
    width: 950px;
    height: 620px;
    display: flex;
}

.weatherPasswordClockBox {
    border: 1px solid red;
    width: 66%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weatherBox {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 663px;
    max-height: 300px;
}

.passwordBox {
    width: 49%;
    border: 1px solid orange;
}

.showPassword {
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.clockBox {
    width: 50%;
    border: 1px solid orange;
}

.linksBox {
    width: 34%;
    border: 1px solid black;
}

}





